[Unit]
Description=Social Something
After=multi-user.target

[Service]
ExecStart=/usr/bin/node /home/ec2-user/social_something_full/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=social_something
User=ec2-user
EnvironmentFile=/home/ec2-user/social_something_full/app.env

[Install]
WantedBy=multi-user.target